.page-header
  %h1= @main_page.title

= render 'apartments/list', apartments: @apartments

%hr
%article
  != @main_page.content

- content_for :admin_edit_link do
  = edit_admin_page_path(@main_page)

= render partial: 'seo_tags/seo_tag', collection: @main_page.seo_tags
