.table-responsive
  %table.table.table-striped.table-condensed.col-md-12
    %tr
      %th.col-md-1= human_attribute(PhotoTranslation, :image)
      %th= human_attribute(PhotoTranslation, :title)
      %th= human_attribute(PhotoTranslation, :alt)
      %th.col-md-1

    - @apartment_translation.forced_photo_translations.each do |photo_translation|
      %tr
        = form.semantic_fields_for :photo_translations, photo_translation do |f|
          %td= image_tag photo_translation.image.thumb.url, size: '80x40'
          %td= f.input :title, label: false
          %td= f.input :alt, label: false
          %td= f.input :_destroy, as: :boolean, label: t('actions.delete')
          = f.input :photo_id, as: :hidden
