= semantic_form_for [:admin, @apartment], remote: true do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs class: 'col-md-4' do
    = f.input :title
    = f.input :active
    = f.input :price
    = f.input :main_image, as: :select, collection: @apartment.gallery_images
  = f.inputs class: 'col-md-12' do
    = f.input :short_description
    = f.input :description, input_html: { class: 'tinymce' }
  = f.actions class: 'col-md-12' do
    = f.action :submit,
      as: :button,
      label: t('formtastic.actions.apartment.update'),
      button_html: { class: 'btn btn-big btn-success pull-right' }
