- show_photos = !@apartment.new_record?
= semantic_form_for [:admin, @apartment], remote: true do |f|
  = f.semantic_errors *f.object.errors.keys
  .col-md-3
    = f.input :title
    = f.input :active
    = f.input :price
  .col-md-9
    = f.input :short_description
    = f.input :description, input_html: { class: 'tinymce' }

  = f.actions class: 'col-md-12' do
    - if show_photos
      = f.button t('actions.photos.add'), id: 'add-photos', class: 'btn btn-big btn-primary'
    = f.action :submit, as: :button, label: t("actions.apartment.#{action_name}"),
      button_html: { class: 'btn btn-big btn-success pull-right' }
  .col-md-12
    - if show_photos
      = render('fields_for_photos', photos: @apartment.photos.where.not(id: nil), form: f)

- if show_photos
  .hide
    = semantic_form_for [:admin, @apartment, @apartment.photos.build], html: { multipart: true }, remote: true do |f|
      = f.inputs class: 'col-md-4' do
        = f.file_field :image, multiple: true, name: 'photo[image]'
