= semantic_form_for reservation, remote: true, html: { role: 'form' } do |f|
  %legend= t('.reservation_blank')
  = f.semantic_errors *f.object.errors.keys
  = f.inputs class: 'col-md-12' do
    = f.input :apartment_id, as: :hidden
    .row
      .col-md-6
        = f.input :check_in, as: :string, input_html: { class: 'datepicker date-mask' }
      .col-md-6
        = f.input :check_out, as: :string, input_html: { class: 'datepicker date-mask' }
    = f.input :customer_name
    = f.input :customer_phone, input_html: { class: 'phone-mask'}
    = f.input :customer_email
  = f.inputs class: 'col-md-12' do
    = f.input :body, input_html: { rows: 6, cols: 10, maxlength: 2000 }
  = f.actions class: 'col-md-12' do
    = f.action :submit, as: :button, label: t('actions.book_it'), button_html: { class: 'btn btn-big btn-success pull-right', data: { 'loading-text' => t('.submit_loading') } }
