.col-md-4.col-sm-6.col-xs-12
  .shop-product.customed-shop-product
    %a{href: apartment.path}
      %img.img-responsive{src: apartment.main_photo.image.small.url, title: apartment.title,
        alt: apartment.short_description}
    = link_to apartment.path do
      %h5.primary-front= apartment.title
    %p.text-muted= apartment.short_description
    %p.price
      = t('.currency_before')
      = apartment.price.ceil
      = t('.currency_after')

