= semantic_form_for(@apartment, url: apartment_path(@apartment)) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :title
    = f.input :price, append: 'uah'
    = f.input :description, input_html: { class: 'tinymce' }
  = f.actions do
    = f.action :submit
