%h1= t('.headline')

%table
  %tr
    %th.span4 Photo
    %th Title
    %th Price
    %th Description

  - @apartments.each do |apartment|
    %tr
      %td= image_tag apartment.main_image.image_url(:medium).to_s, class: 'img-thumbnail'
      %td= link_to apartment.title, apartment.path
      %td= apartment.price.ceil
      %td= apartment.short_description
