.page-header
  %h1= t('.headline')

%table
  %tr
    %th.col-md-4= human_attribute(Apartment, :main_photo)
    - human_attributes(Apartment, :title, :price, :description) do |attr|
      %th= attr

  - @apartments.each do |apartment|
    %tr
      %td= image_tag(apartment.main_photo.image.small.url.to_s,
                      class: 'img-thumbnail',
                      size: '350x200')
      %td= link_to apartment.title, apartment.path
      %td= apartment.price.ceil
      %td= apartment.short_description

%hr
%article
  != @main_page.try(:content)

