%p#notice= notice
%h1= @apartment.title
%p
  %b Price:
  = @apartment.price.ceil
%p= @apartment.short_description

- if @apartment.photos.any?
  .col-md-12
    .gallery-images-list
      %ul.bxslider
        = render(@apartment.photos)

.col-md-9
  = @apartment.description.html_safe
.col-md-3.well
  #reservation-form
    = render 'reservations/form'

= render 'blueimp_gallery'

- content_for :admin_edit_link do
  = @apartment.edit_path
