- content_for :additional_stylesheet do
  = stylesheet_link_tag('http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css',
                        'data-turbolinks-track' => true)
- content_for :additional_javascript do
  = javascript_include_tag('http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js',
                           'data-turbolinks-track' => true)

%p#notice= notice
.page-header
  %h1= @apartment.title
%p
  %b Price:
  = @apartment.price.ceil
%p= @apartment.short_description

- if @apartment.gallery_images.any?
  .gallery-images-list
    %ul.bxslider
      = render(@apartment.gallery_images)

= @apartment.description.html_safe

#reservation-form
  = render 'reservations/form'
= render 'blueimp_gallery'
