%p#notice= notice
.page-header
  %h1= @apartment.title
%p
  %b Price:
  = @apartment.price.ceil
%p= @apartment.short_description

- if @apartment.gallery_images.any?
  .gallery-images-list
    %ul.bxslider
      = render(@apartment.gallery_images)

= @apartment.description.html_safe

#reservation-form
  = render 'reservations/form'

= render 'blueimp_gallery'
