%p#notice= notice
%h1= @apartment.title
%p
  %b Price:
  = @apartment.price.ceil
%p= @apartment.short_description

- if @apartment.photos.any?
  .gallery-images-list
    %ul.bxslider
      = render(@apartment.photos)

= @apartment.description.html_safe

#reservation-form
  = render 'reservations/form'

= render 'blueimp_gallery'
