%p#notice= notice

%p= @apartment.title
%p
  %b Price:
  = @apartment.price
.content
  = @apartment.description.html_safe
  - @apartment.gallery_images.each do |image|
    = image_tag image.image_url(:medium).to_s, class: 'img-polaroid'

= link_to 'Back', apartments_path
