%p#notice= notice

%p
  %b Title:
  = @apartment.title
%p
  %b Price:
  = @apartment.price
%p
  %b Price:
  = @apartment.price
%p
  %b Description:
  = @apartment.description

= link_to 'Edit', edit_apartment_path(@apartment)
\|
= link_to 'Back', apartments_path
