- content_for :additional_stylesheet do
  = stylesheet_link_tag('http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css',
                        'data-turbolinks-track' => true)
- content_for :additional_javascript do
  = javascript_include_tag('http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js',
                           'data-turbolinks-track' => true)

%p#notice= notice
%p= @apartment.title
%p
  %b Price:
  = @apartment.price
.content
  = @apartment.description.html_safe
  #links
    = render(@apartment.gallery_images)

= link_to 'Back', apartments_path
= render 'blueimp_gallery'
