%footer
  .container
    .row
      .col-sm-4
        %h4
          %i.fa.fa-map-marker.text-red
          = t('.contact_info')
        %p= t('.call_us')
        .tweet
          %i.fa.fa-phone.fa-2x
          %p= render collection: Contact.instance.phones, partial: Phone.to_partial_path
        %p= t('.mail_us')
        .tweet
          %i.fa.fa-envelope.fa-2x
          %p= mail_to Contact.instance.email
      .col-sm-4
        %h4
          %i.fa.fa-list-alt.text-red
          = t('.last_articles')
        - Page.by_locale(@locale).recent(3).map { |page| present(page) }.each do |page_presenter|
          .tweet
            %i.fa.fa-file-text.fa-2x
            %p
              = page_presenter.intro
              = link_to '1 day ago', page_presenter.path
      .col-sm-4
        %h4
          %i.fa.fa-group.text-red
          = t('.social')
        - if content_for?(:admin_edit_link) && current_admin
          .tweet
            %a{href: "#{yield(:admin_edit_link)}"}
              %i.fa.fa-pencil-square-o.fa-2x
        .tweet
          %a{href: 'https://plus.google.com/108369022058258511554?rel=author'}
            %i.fa.fa-google-plus.fa-2x
        .tweet
          %a{href: sitemap_path, title: t('static_pages.sitemap.header')}
            %i.fa.fa-sitemap.fa-2x
.container
  .row
    .col-sm-12
      .copyright
        &copy; #{t('.copyright')}
