.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle{'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse', type: 'button'}
        %span.sr-only= t('.toggle_navigation')
        - 3.times do
          %span.icon-bar
      = locale_link_to(t('.daily_apartments'), :root_path, class: 'navbar-brand') do |text|
        %span.navbar-brand= text
    .collapse.navbar-collapse
      //TODO fix it! %button.navbar-btn.btn.btn-red.pull-right.hidden-sm.hidden-xs Sign In
      %ul.nav.navbar-nav.navbar-right
        = list_of ParentPage.for_menu(@locale, 4) do |page|
          = locale_link_to(page.title, :parent_page_path, identifiers: page.permalink) do |text|
            %p.navbar-text= text
        %li.dropdown
          %a.dropdown-toggle{data: {toggle: 'dropdown'}, href: @locale.root_page_path}
            = t('.language')
            %span.caret
          %ul.dropdown-menu
            - Locale.all_except(@locale).each do |locale|
              %li
                %a{href: locale.root_page_path}
                  %span{class: "flag flag-#{locale}"}
                  = t(:language, locale: locale.to_sym)
