.topic{:class => ('margin-bottom-0' if @main_page)}
  .home-services.margin-0
    .container
      .row
        - if @main_page || @apartment
          .col-md-5.visible-lg-block.default-cursor
            %ul
              %li
                %i.fa.fa-compass
                %p!= t('.center')
              %li
                %i.fa.fa-male
                %p!= t('.owners')
              %li
                %i.fa.fa-money
                %p!= t('.money_starts')
          .col-md-7.info-panel
            .lead.phones
              = render Contact.instance.phones, wrapper: :div
        - else
          .com-md-12.info-panel
            .pull-right
              = render 'layouts/breadcrumbs'
