- if request.fullpath == root_path
  %span{class: 'brand'} #{t('navigation.daily_apartments')}
- else
  = link_to t('navigation.daily_apartments'), root_path, class: 'brand'
%ul.nav
  %li= link_to t('navigation.how_it_works'), '#'
  %li= link_to t('navigation.feedback'), '#'
  %li= link_to t('navigation.about_lviv'), '#'
  %li= link_to t('navigation.contacts'), '#'

= render 'layouts/languages'

%ul.nav.pull-right
  %li.pull-right= link_to t('navigation.sign_in'), '#'