.navbar-header
  - if request.fullpath == @locale.root_page_path
    %span{class: 'navbar-brand'}= t('.daily_apartments')
  - else
    = link_to t('.daily_apartments'), @locale.root_page_path, class: 'navbar-brand'
%nav.collapse.navbar-collapse.bs-navbar-collapse{role: 'navigation'}
  %ul.nav.navbar-nav
    = list_of ParentPage.for_menu(@locale.to_s, 5) do |page|
      = locale_link_to(page.title, suffix: :parent_page, identifiers: page.permalink)
  %ul.nav.navbar-nav.navbar-right
    %li= render 'layouts/languages'
