.navbar-header
  = locale_link_to(t('.daily_apartments'), :root_path, class: 'navbar-brand') do |text|
    %span.navbar-brand= text
%nav.collapse.navbar-collapse.bs-navbar-collapse{role: 'navigation'}
  %ul.nav.navbar-nav
    = list_of ParentPage.for_menu(@locale.to_s, 5) do |page|
      = locale_link_to(page.title, :parent_page_path, identifiers: page.permalink) do |text|
        %p.navbar-text= text

  %ul.nav.navbar-nav.navbar-right
    %span.languages
      - Locale.all_except(@locale).each do |locale|
        = link_to locale.root_page_path do
          %div{class: "flag flag-#{locale}"}
