.navbar-header
  .navbar-default
    %button.navbar-toggle{type: 'button', data: { toggle: 'collapse', target: '#vk-navbar-collapse' }}
      - 3.times do
        %span.icon-bar
  = locale_link_to(t('.daily_apartments'), :root_path, class: 'navbar-brand') do |text|
    %span.navbar-brand= text

%nav.collapse.navbar-collapse#vk-navbar-collapse{role: 'navigation'}
  %ul.nav.navbar-nav
    = list_of ParentPage.for_menu(@locale.to_s, 4) do |page|
      = locale_link_to(page.title, :parent_page_path, identifiers: page.permalink) do |text|
        %p.navbar-text= text
  %ul.nav.navbar-nav.navbar-right
    %span.navbar-brand
      %i.fa.fa-phone
      = SiteInfo.get(:contact, :phone_kyivstar_str)
    %li.dropdown
      %a.dropdown-toggle{data: {toggle: 'dropdown'}, href: @locale.root_page_path}
        %span{class: "flag flag-#{@locale} transparent"}
        %span.caret
      %ul.dropdown-menu
        - Locale.all_except(@locale).each do |locale|
          %li
            %a{href: locale.root_page_path}
              %span{class: "flag flag-#{locale}"}
              = t(:language, locale: locale.to_sym)
