!!!
%html{lang: @locale}
  = render 'layouts/head'
  %body{class: [controller_name, action_name]}
    = render 'layouts/header'
    .wrapper
      = render 'layouts/breadcrumbs'
      .container
        .row
          .col-md-12
            = render 'layouts/flash_messages'
            = yield
    %br
    = render 'layouts/footer'
