!!!
%html{lang: @locale}
  = render 'layouts/head'
  %body{class: [controller_name, action_name]}
    = render 'layouts/header'
    .wrapper
      = render 'layouts/breadcrumbs'
      .container
        .row
          = render 'layouts/flash_messages'
          = yield
          = yield :javascript
  = render 'layouts/footer'
